/* DOM */
html {
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #0A7FCB;
    background-image: url('../images/bk/grey.png');
    background-position-y:center;
    background-repeat:no-repeat;
    background-size: 100%;
}

h2 {
    text-indent: 4%;
    color: #000;
}

h3 {
    color: #fff;
}
h6 {
    padding:0;
}
.h6_upper {
    position:absolute;
    top:0;
    margin:0;
    text-align:center;
    width:100%;
}
input[type='button'] {
    background: transparent;
    border: none;
    font-size: 1.5em;
}

button {
    box-shadow: 0 0 2px red;
}
/* class */
.startBtn {
    transition: 300ms all;
    position: absolute;
    box-shadow: 0 0 1px #000;
    background-color: #0f9af5;
    border: none;
    height: 10%;
    width: 10%;
    top: 10%;
    left: -15%;
}

.startBtn_full {
    transition: 300ms all;
    position: absolute;
    box-shadow: 0 0 2px #000;
    background-color: lightgrey;
    border: none;
    height: 10%;
    width: 10%;
    top: 10%;
    left: 5%;
}

.cardHolder {
    transition: 300ms all;
    position: absolute;
    box-shadow: 0 0 2px #000;
    background: #fff;
    height: 60%;
    width: 10%;
    top: 10%;
    left: -105%;
}

.cardHolder_full {
    transition: 300ms all;
    position: absolute;
    background: #fff;
    height: 60%;
    width: 98%;
    top: 10%;
    left: 1%;
    text-align: center;
}

.deck_unflipped, .deck_flipped {
    display: inline-block;
    float: left;
    height: 350px;
    width: 270px;
    background: #0A7FCB;
    margin: 5% 20px;
}

.cards {
}

.cardbox, .card, .cardfront, .cardback {
    border: 0;
    margin: 0;
    padding: 0;
}

.cardfront {
}

.cardfront input[type="button"] {
    float:right;
    margin: -50px 5px;
}
.cardback input[type="button"] {
    display: table-row;
    margin: 10px 5px;
}

.cardfront, .cardback {
    font-size: 120%;
}

.cardbox {
    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
    perspective: 800px;
}

.cardPre {
    transition: 10ms all;
    margin: -1125px;
    width: 100%;
    height: 100%;
    position: absolute;
}

.card {
    transition: 0.5s all;
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    background-color: #fff;
}

.cardfront, .cardback {
    transition: 1s all;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: 0;
    margin-left: 0;
    backface-visibility: hidden;
    box-shadow: 0 0 3px #000 inset;
}

.cardback {
    background-color: #efe;
    margin-top: 0;
    margin-left: 0;
}

.card.flipped {
    transition: 1s all;
}

.card.flipped, .cardback {
    transition: 1s all;
    transform: rotateY(180deg);
}

.card.recycled {
    transition: 1s all;
    margin: 1045px;
}

.card.accepted {
    transition: 1s all;
}
.card.glow {
    transition: 500ms all;
    box-shadow: 0 0 100px yellow, 0 0 60px yellow, 0 0 30px orange, 0 0 10px red;
}
.card.selected {
    transition: 500ms all;
    position: absolute;
    height: 350px;
    width: 270px;
    margin-top: 0;
    margin-left: 0;
    backface-visibility: hidden;
}

.card.selected_full {
    transition: 500ms all;
    position: absolute;
    height: 100%;
    width: 100%;
    margin-top: 0;
    margin-left: 0;
}

.newTitleTag {
    transition: 500ms all;
    position: absolute;
    margin-top: -100%;
}

.newTitleTag_full {
    transition: 500ms all;
    color:#FFF;
    width:80%;
    height:auto;
    padding:5% 0;
    text-align:center;
    background:rgba(0,0,0,0.5);
    position: absolute;
    margin: 20% 10%;
}

.newCardQuestion {
    transition: 500ms all;
    position: absolute;
    top: 5%;
    left: -1000px;
}

.newCardQuestion_full {
    transition: 500ms all;
    position: absolute;
    top: 5%;
    left: 1%;
}

.answers {
    transition: 500ms all;
    position: absolute;
    bottom: -30%;
    width: 100%;
    padding: 10px 0;
}

.answers_full {
    transition: 500ms all;
    position: absolute;
    bottom: 10%;
    width: 100%;
    padding: 10px 0;
}

    .answers_full button {
        box-shadow: 0 0 2px #444;
        margin: 5%;
        border: none;
        background: rgba(555,555,555,1);
        height: auto;
        float: left;
        padding: 10px 0;
        width: 90%;
    }

        .answers_full button:hover {
            background: rgba(222,222,222,1);
        }

        .answers_full button:active {
            background: rgba(255,255,255,1);
        }

.meterHolder {
    transition: 300ms all;
    position: absolute;
    background: #fff;
    height: 8%;
    width: 98%;
    top: -10%;
    left: 1%;
    z-index: 15;
}

.meterHolder_full {
    transition: 300ms all;
    position: absolute;
    background: #fff;
    height: 8%;
    width: 98%;
    top: 1%;
    left: 1%;
    z-index:15;
}

.food, .people, .military, .money {
    background: #0A7FCB;
    height: 66%;
    width: 23%;
    margin: 1%;
    float: left;
    text-align: center;
}

.dvBars {
    margin-top: -20%;
    height: 100%;
    background: green;
}

.outputHolder {
    transition: 300ms all;
    position: absolute;
    background: #fff;
    height: 28%;
    width: 98%;
    bottom: -30%;
    left: 1%;
}

.outputHolder_full {
    transition: 300ms all;
    position: absolute;
    background: #fff;
    height: 28%;
    width: 98%;
    bottom: 1%;
    left: 1%;
    overflow-y:scroll;
}
.dvHostClear {
    float:right;
    margin-right:10%;
}
/* ID */
#dvContainer {
    position: absolute;
    height: 100%;
    width: 100%;
}
#idFire {
    box-shadow: 0 0 40px red inset;
    background-color:black;
    background-image: url('../images/symbols/fire.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
}
#idWater {
    box-shadow: 0 0 40px blue inset;
    background-color: black;
    background-image: url('../images/symbols/water.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
}
#idEarth {
    box-shadow: 0 0 40px brown inset;
    background-color: black;
    background-image: url('../images/symbols/earth.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
}
#idAir {
    box-shadow: 0 0 40px cyan inset;
    background-color: black;
    background-image: url('../images/symbols/air.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
}
#idAether {
    box-shadow: 0 0 40px purple inset;
    background-color: black;
    background-image: url('../images/symbols/aether.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
}
#idNature {
    box-shadow: 0 0 40px green inset;
    background-color: black;
    background-image: url('../images/symbols/nature.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
}
#idLevel_0 {
    box-shadow: 0 0 40px green inset;
    background-color: #fff;
    background-image: url('../images/symbols/star1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
}
#idLevel_1 {
    box-shadow: 0 0 40px green inset;
    background-color: #fff;
    background-image: url('../images/symbols/star2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
}
#idLevel_2 {
    box-shadow: 0 0 40px green inset;
    background-color: #fff;
    background-image: url('../images/symbols/star3.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
}
#idLevel_3 {
    box-shadow: 0 0 40px green inset;
    background-color: #fff;
    background-image: url('../images/symbols/star4.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
}
#idLevel_4 {
    box-shadow: 0 0 40px green inset;
    background-color: #fff;
    background-image: url('../images/symbols/star5.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
}